services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - "3306:3306"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p123456"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  nacos:
    image: nacos/nacos-server:v2.4.0.1
    container_name: nacos
    environment:
      - MODE=standalone
      - NACOS_AUTH_ENABLE=false
    ports:
      - "8848:8848"
      - "9848:9848"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8848/nacos/v1/console/health/readiness"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  openldap:
    image: osixia/openldap:1.5.0
    container_name: openldap
    volumes:
      - ./ldap-seed:/container/service/slapd/assets/config/bootstrap/ldif/custom
    environment:
      - LDAP_ORGANISATION=LocalDomain
      - LDAP_DOMAIN=example.com
      - LDAP_ADMIN_PASSWORD=admin
      - LDAP_TLS=false
      - LDAP_REPLICATION=false
      - LDAP_REMOVE_CONFIG_AFTER_SETUP=false
    ports:
      - "389:389"
      - "636:636"
    healthcheck:
      test: ["CMD", "ldapsearch", "-x", "-H", "ldap://localhost:389", "-b", "dc=example,dc=com", "-D", "cn=admin,dc=example,dc=com", "-w", "admin", "1.1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  phpldapadmin:
    image: osixia/phpldapadmin:0.9.0
    container_name: phpldapadmin
    environment:
      - PHPLDAPADMIN_LDAP_HOSTS=openldap
      - PHPLDAPADMIN_HTTPS=false
    ports:
      - "8080:80"
    depends_on:
      openldap:
        condition: service_healthy

  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    ports:
      - "7573:7573"
    environment:
      - NACOS_HOST=nacos
    depends_on:
      nacos:
        condition: service_healthy

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8081:8081"
    environment:
      - NACOS_HOST=nacos
      - MYSQL_HOST=mysql
      - LDAP_HOST=openldap
      - GITHUB_CLIENT_ID=Ov23liSoVOpv5b1ECqRB
      - GITHUB_CLIENT_SECRET=9a41620bd6cee534d940a63d4084c91705f23a24
      - GATEWAY_URL=http://110.41.64.197:7573
    depends_on:
      mysql:
        condition: service_healthy
      nacos:
        condition: service_healthy
      openldap:
        condition: service_healthy

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "8082:8082"
    environment:
      - NACOS_HOST=nacos
      - MYSQL_HOST=mysql
    depends_on:
      mysql:
        condition: service_healthy
      nacos:
        condition: service_healthy